.banner{
    background-image: url("https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

.cover{
    width: 100%;
    height: 90vh;
    background-color: black;
    opacity: 0.4;
}